PORT=5050
NODE_ENV=development
CLIENT_URL=http://localhost:5173

AUTH_SERVICE_URL=http://localhost:5001
PRODUCT_SERVICE_URL=http://localhost:5002
INTERNAL_API_KEY=81033abc7eab8d60cbe4981476d86aa5dab7b25d860263b560a21023c7efee76