PORT=5003
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/shopsphere_inventory
RABBITMQ_URL=amqp://shopsphere:shopsphere123@localhost:5672

CLIENT_URL=http://localhost:5173

INTERNAL_API_KEY=same_internal_key_used_by_gateway
RESERVATION_EXPIRES_MINUTES=15